<div ng-if="authenticated" ng-controller="tableController as empCtrl">
  <h3>Watch Employee Status</h3>
  <input type=text ng-model="search.empName" ngMinlength=1>
<ul class="table_group">
  <li ng-repeat="(key,tables) in newTables | orderBy : 'tableNo'">
    Table : {{key+1}}
    <ul class="table_member">
      <li ng-repeat="table in tables | filter:search.empName" ng-class="{'seat':table.active}"><a name="" ng-mouseover="dis=true" ng-mouseleave="dis=false">{{table.seatNo}}</a>
          <div class="empData" ng-show="search.empName || dis " ng-if="!table.active">
            <table>
              <tr>
                <td><img ng-src="images/{{table.empUrl}}" width=100 height=100 alt="Please Upload"></td>
                <td>{{table.empName}}<br/>{{table.designation}}</td>
              </tr>
              <tr>
                <td colspan=2>Team <br/>{{table.teamName}}</td>
              </tr>
              <tr>
                <td colspan=2>Current Project: <br/>{{table.currProject}}</td>
              </tr>
            </table>
          </div>
        </li>
    </ul>
  </li>
</ul>

</div>

